[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
numpy = "==1.19.3"
pydub = "*"
youtube-dl = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python super_hexagon.py"
